.tab {
    width: 1280px;
    float: left;
    height: 650px;
}

.row {
    margin-top: 20px;
    overflow: hidden;
}
.item {
    width: 150px;
    float: left;
    margin-right: 20px;
    text-align: center;
    background-color: #3c3c3c;
}
.movie {
    composes: item;
    height: 198px;
    line-height: 198px;
}

.entrance {
    composes: item;
    height: 60px;
    line-height: 60px;
}

.subject {
    composes: item;
    height: 150px;
    line-height: 150px;
}